/*  PARTIE 4 (Lilian) */
#P4 {
  margin-bottom: 30vh;
}

/*  Sites Web avec effets */
#ContainerSlider4 {
  margin: 0 2vw;
}

#ContainerSlider4 #Slider4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 40vh;
  width: 100%;
}

#ContainerSlider4 #Slider4 #Box41 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#ContainerSlider4 #Slider4 #Box41 img {
  width: 27vw;
}

#ContainerSlider4 #Slider4 #Box42 {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

#ContainerSlider4 #Slider4 #Box42 img {
  width: 33vw;
}

#ContainerSlider4 #Slider4 #Box43 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#ContainerSlider4 #Slider4 #Box43 img {
  width: 27vw;
}

/*  Titre avec effets */
#Titre4 {
  left: 27vw;
}

#Titre4 img {
  position: absolute;
  width: 60vw;
}

#Titre4 p {
  position: absolute;
  font-weight: lighter;
  font-size: 3rem;
  text-align: right;
  margin: 1vw 0 0 1vw;
}

/*  PARTIE 5 (Lilian 2, le retour)  */
/*  Titre avec effets */
.titre54 {
  position: absolute;
  left: 7%;
  font-size: 45px;
  margin-top: 2%;
}

#Titre5 img {
  position: absolute;
  width: 47vw;
}

#Titre50 p {
  position: absolute;
  font-size: 3rem;
  text-align: right;
  margin: 1vw 0 0 1vw;
}

/* Container des Formules */
#ContainerFormulePart5 {
  position: relative;
  margin-top: 66vh;
}

/*  Formule 1 avec effets */
#Container51 #Formule51 {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Container51 #Formule51 #Cadre51 {
  width: 33vw;
  text-align: right;
}

#Container51 #Formule51 #Cadre51 #Titre51 {
  border: thick solid rgba(255, 255, 255, 0.603);
}

#Container51 #Formule51 #Cadre51 #Titre51 {
  font-size: 2rem;
  background-color: #ffffffa6;
  margin: 1vw 1vw 1vw 0;
  padding: 2vw;
}

#Container51 #Formule51 #Texte51 {
  visibility: hidden;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin-left: 1vw;
  padding-left: 2vw;
  background-color: #ffffffa6;
}

#Container51 #Formule51 #Texte51 {
  font-size: 1.4rem;
}

#Container51 #Formule51 #Texte51 {
  text-align: right;
  font-size: 1rem;
  padding-right: 2vw;
  height: 20vh;
}

#Container51 #Formule51:hover #Texte51 {
  visibility: visible;
  margin-top: 20px;
  text-align: justify;
  padding-top: 10px;
}

/*  Formule 2 avec effets */

#Container52 #Formule52 {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Container52 #Formule52 #Cadre52 {
  width: 33vw;
  text-align: right;
}

#Container52 #Formule52 #Cadre52 #Titre52 {
  border: thick solid rgba(255, 255, 255, 0.603);
}

#Container52 #Formule52 #Cadre52 #Titre52 {
  font-size: 2rem;
  background-color: #ffffffa6;
  margin: 1vw 1vw 1vw 0;
  padding: 2vw;
}

#Container52 #Formule52 #Texte52 {
  visibility: hidden;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin-left: 1vw;
  padding-left: 2vw;
  background-color: #ffffffa6;
}

#Container52 #Formule52 #Texte52 {
  font-size: 1.4rem;
}

#Container52 #Formule52 #Texte52 {
  text-align: right;
  font-size: 1rem;
  padding-right: 2vw;
  height: 20vh;
}

#Container52 #Formule52:hover #Texte52 {
  visibility: visible;
  margin-top: 20px;
  text-align: justify;
  padding-top: 15px;
}

/*  Formule 3 avec effets */

#Container53 #Formule53 {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Container53 #Formule53 #Cadre53 {
  width: 33vw;
  text-align: right;
}

#Container53 #Formule53 #Cadre53 #Titre53 {
  font-size: 2rem;
  background-color: #ffffffa6;
  margin: 1vw 1vw 1vw 0;
  padding: 2vw;
  border: thick solid rgba(255, 255, 255, 0.603);
}

#Container53 #Formule53 #Cadre53 #Titre53 {
  font-size: 2rem;
  background-color: #ffffffa6;
  margin: 1vw 1vw 1vw 0;
  padding: 2vw;
}

#Container53 #Formule53 #Texte53 {
  visibility: hidden;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin-left: 1vw;
  padding-left: 2vw;
  background-color: #ffffffa6;
}

#Container53 #Formule53 #Texte53 {
  font-size: 1.4rem;
}

#Container53 #Formule53 #Texte53 {
  text-align: right;
  font-size: 1rem;
  padding-right: 2vw;
  height: 20vh;
}

#Container53 #Formule53:hover #Texte53 {
  visibility: visible;
  margin-top: 20px;
  text-align: justify;
  padding-top: 10px;
}

/*# sourceMappingURL=style.css.map */
