body{
    background-color: lightgoldenrodyellow;
    background: url('images/background1.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
} 


/*darkmode*/

.mystyle {
    background-color: #4C3365;
    background: url('images/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
  }



/*toggle dark mode*/
    
.switch {
    position: relative;
    display: block;
    z-index: 10;
    width: 60px;
    height: 34px;
    float: right;
    margin: 5vh;
    margin-right: 30vh;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightpink;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:#4C3365;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4C3365;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*homepage*/

#homepage{
    width: 100%;
    height: 100vh;
    position: relative;
}

/*navbar*/

#navbar{
    position: absolute;
    width: 100%;
    height: 20vh;
}

#logo{
    position: absolute;
    float: left;
    left: 5vh;
    top: 5vh;
    z-index: 10;
}

#logo img{
    width: 30vh;
}

#divjauneparent{
    position: absolute;
    z-index: 3;
}

#divjauneparent img{
    width: 14vw;
    margin: 4vh 7vh;
}

#slideonmenu{
    position: absolute;
    right: 20vh;
    top: 5vh;
    z-index: 5;

}

#menulogo{
    width: 8vh;
    position: absolute;
    z-index: 5;
}

#slideonmenu div{
    top: 8vh;
    position: absolute;
    text-transform: uppercase;
    line-height: 1.5em;
    text-align: right;
    z-index: 5;
    display: none;
    left: -20vh;
    width: 30vh;
}

#slideonmenu ul, a{
    list-style-type: none;
    text-decoration: none;
    color: #4C3365;
}

#slideonmenu img{
    transition: 2s;
}
#slideonmenu img:hover {
    transform: rotate(180deg);
}

#slideonmenu span:hover + div{
    display: block;
}

#slideonmenu div:hover{
    display:block;
}

#slideonmenu  a:hover{
    background-color: #E4C00A;
}



/*photo*/

#photo{
    position: absolute;
    z-index: 1;
    left: -5%;
    top: -5%;
    
}

#photo img{
    transform: rotate(-5deg);
}

/*icones*/

#socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    width: 7vh;
    margin-top: 50vh;
    height: 250px;
    right: 0;
}


 #icones{
     color: #4C3365;
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     background-color: white;

 }

 #icones a:hover{
     color:#E4C00A;
 }


/*titres*/


.titres{
    position: absolute;
    z-index: 3;
    color: #4C3365;
}



#titre{
    top: 40vh;
    left: 80vh;
    width: 80vh;
    letter-spacing: 0.1rem;
}

#titre h1{
    position: absolute;
    z-index: 3;
    text-align: right;
    font-size: 3rem;
    top: 3vh;
    left: -3vw;
    font-weight: lighter;
}

#titre img{
    top: 5vh;
    width: 100vh;
    left: -13vh;
    position: absolute;
    z-index: 2;
}



#soustitre{
    width: 77vh;
    height: 5vh;
    top: 80vh;
    left: 10vh;
    position: absolute;
    z-index: 3;
    background-color: lightpink;
    text-align: center;
    font-size: 0.8rem;
    line-height: 0rem;
}



 /*partie6*/

 #partie6{
    width: 100%;
    height: 100vh;
   margin: 10vh 0;
   padding: 0px;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    margin-left: 0 3%;
    width: 2rem;
    cursor: pointer;
}

.button--inactive {
    opacity: 0.2;
}

.button img {
    width: 60%;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
}

.box {
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 1s all;
}

.box span{
    width: 30vh;
    height: 30vh;
    background-color: #4C3365;
    border-radius: 100%;

}

.box p{
    text-align: center;
    margin-top: 10vh;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: bold;
}

.box img{
    width: 30vh;
    border-radius: 100%;
    box-shadow: 0px 0px 2rem 0px #888888;
}

.box:nth-child(2n) {
    transform: scale(0.85);
    z-index: -1;
}

.box:nth-child(2) {
  left: 5%;
}

.box:nth-child(4) {
  left: -5%;
}

.box:nth-child(4n + 1) {
    transform: scale(0.75);
    z-index: -2;
}

.box:nth-child(1) {
  left: 15%;
}

.box:nth-child(5) {
  left: -15%;
}

.card__text-content {
    text-align: center;
    width: 75%;
}

.card__title {
    padding: 0rem;
}

.box--hide {
    display: none;
}

.move-out-from-left {
    animation: moveOutLeft 0.5s ease-in-out;
}

.move-out-from-right {
    animation: moveOutRight 0.5s ease-in-out;
}

.move-to-position5-from-left {
    animation: moveToP5Left 0.5s ease-in-out;
}

.move-to-position4-from-left {
    animation: moveToP4Left 0.5s ease-in-out;
}

.move-to-position3-from-left {
    animation: moveToP3Left 0.5s ease-in-out;
}

.move-to-position2-from-left {
    animation: moveToP2Left 0.5s ease-in-out;
}
.move-to-position1-from-left{
    animation: moveToP1Left 0.5s ease-in-out;
}
.move-to-position5-from-right{
    animation: moveToP5Right 0.5s ease-in-out;
}
.move-to-position4-from-right{
    animation: moveToP4Right 0.5s ease-in-out;
}
.move-to-position3-from-right{
    animation: moveToP3Right 0.5s ease-in-out;
}
.move-to-position2-from-right{
    animation: moveToP2Right 0.5s ease-in-out;
}
.move-to-position1-from-right{
    animation: moveToP1Right 0.5s ease-in-out;
}

@keyframes moveOutLeft {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(-150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}

@keyframes moveOutRight {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}


@keyframes moveToP5Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP4Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP2Left {
    from {
        transform: scale(1) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP1Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}


@keyframes moveToP1Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP2Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP4Right {
    from {
        transform: scale(1) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP5Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}


#surlignage6 img{
    margin-top: -3vh;
    margin-left: -25vw;
    width: 90vh;
    position: absolute;
    z-index: 1;
}



.card__title{
    margin-top:0;
    margin-left: 12vw;
    font-size: 3rem;
    z-index: 2;
    position: absolute;
    font-weight: lighter;
    text-align: right;
}