* {
  margin: 0;
  padding: 0;
}

/*-----------------HEADER------------*/
/*--------MENU BURGER------------*/
#homepage {
  /*---------------FOND CHAT------------*/
  /*#fondheader {
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    //height: 130vh;
}

/*#fondheader #cat1{
max-width: 100%;
height: auto;
z-index: 1;
}*/
  /*----------LOGO et TEXTE--------------------*/
}

#homepage #slideonmenu {
  top: 5vh;
  right: 20px;
  position: absolute;
  z-index: 7;
  max-width: 40vh;
}

#homepage #slideonmenu #menulogo {
  width: 13vh;
  right: 3vh;
  position: absolute;
  z-index: 99;
}

#homepage #slideonmenu #listMenu {
  margin-top: 45%;
  padding: 35px 20px;
  text-transform: uppercase;
  font-family: "Muli", sans-serif;
  line-height: 1.7em;
  display: none;
  font-size: 1.3em;
  z-index: 9;
  border: 3px solid;
}

#homepage #slideonmenu #listMenu ul, #homepage #slideonmenu #listMenu a {
  margin-top: 5%;
  list-style: none;
  text-decoration: none;
  z-index: 7;
  color: #a20373;
  text-align: right;
}

#homepage #slideonmenu img {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

#homepage #slideonmenu img:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#homepage #slideonmenu span:hover + #listMenu {
  display: block;
}

#homepage #slideonmenu #listMenu:hover {
  display: block;
}

#homepage #slideonmenu a:hover {
  background-color: #ff6d0b;
}

#homepage #bloctext {
  position: relative;
  background-image: url("./images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 130vh;
}

#homepage #bloctext #fondheader {
  width: 11vw;
}

#homepage #bloctext #fondheader #logocat {
  width: 100%;
  /*margin-top: 5%;
                margin-left: 3%;
                padding-left: 8%;
                padding-top: 7%;*/
}

#homepage #bloctext #fondheader #initial {
  text-align: center;
  font-family: "Muli", sans-serif;
  font-size: 1.5em;
  margin-top: -7%;
}

#homepage #bloctext #textimg {
  width: 33vw;
  position: absolute;
  top: 116vh;
  left: 23vw;
}

#homepage #bloctext #textimg #legendimg {
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: "Muli", sans-serif;
  font-size: 1.8em;
  background-color: #A20373;
  text-align: center;
  -webkit-box-shadow: 5px 0px 7px 1px rgba(82, 82, 117, 0.4);
          box-shadow: 5px 0px 7px 1px rgba(82, 82, 117, 0.4);
}

#homepage #bloctext #wca {
  position: absolute;
  top: 57vh;
  right: 21vw;
  width: 27%;
}

#homepage #bloctext #wca #titrepart1, #homepage #bloctext #wca #titrepart2 {
  padding: 1% 10%;
  font-family: "Muli", sans-serif;
  font-size: 2.7em;
  text-align: center;
  -webkit-box-shadow: 5px 0px 7px 1px rgba(82, 82, 117, 0.4);
          box-shadow: 5px 0px 7px 1px rgba(82, 82, 117, 0.4);
}

#homepage #bloctext #wca #titrepart1 {
  background-color: #A20373;
  margin-left: 1vw;
}

#homepage #bloctext #wca #titrepart2 {
  background-color: #A20373;
  margin-top: 1%;
  width: 27vw;
}

/*---------------MAIN------------*/
/*------------NAV-------------------*/
#menu {
  position: fixed;
  /* Make it stick/fixed */
  top: -50px;
  /* Hide the navbar 50 px outside of the top view */
  width: 100%;
  /* Full width */
  z-index: 15;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
}

#menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -25px;
  height: 7vh;
  list-style: none;
  /*border: 3px solid red;*/
  background-color: #DEB3ED;
  padding: 1% 10%;
}

#menu ul li {
  margin-left: 35px;
  padding-left: 0px;
  padding-right: 25px;
  list-style: none;
  font-size: 2rem;
}

#menu ul a {
  text-decoration: none;
  color: #A20373;
  padding: 5px;
}

#menu ul a:hover {
  border-bottom: #e67e22 3px solid;
}

/*-----------------PART  les services------------------*/
#part1 {
  background-color: #E9DCC5;
}

#part1 #offres {
  position: relative;
  height: 33vh;
}

#part1 #offres #catarchi1 {
  padding-left: 5%;
}

#part1 #offres #identite, #part1 #offres #archi {
  position: absolute;
  padding: 1% 7%;
  background-color: #A20373;
  font-family: "Muli", sans-serif;
  font-size: 2.7em;
}

#part1 #offres #identite {
  width: 35%;
  margin-left: 40%;
  margin-top: 1%;
  padding-right: 1%;
  text-align: center;
  z-index: 9;
  top: -9%;
}

#part1 #offres #archi {
  width: 48%;
  margin-left: 33%;
  padding-left: 1%;
  margin-top: -10%;
  text-align: center;
  z-index: 8;
}

#part1 #card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1%;
}

#part1 #card #card1, #part1 #card #card2, #part1 #card #card3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15vw;
  height: 45vh;
  padding: 3%;
  font-family: "Muli", sans-serif;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(222, 179, 137, 0.3);
  color: #A20373;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  border-radius: 0.3em;
}

#part1 #card #card1:hover,
#part1 #card #card2:hover,
#part1 #card #card3:hover {
  opacity: 0.8;
}

#part1 #card #card2 {
  height: 49vh;
}

#part1 #card #card1, #part1 #card #card3 {
  margin-top: 5%;
}

#part1 #card #defdesign, #part1 #card #realisation, #part1 #card #gestion {
  font-size: 1.3em;
  padding-bottom: 15%;
}

/*---------------PART2 Portfolio--------------------*/
#part2 {
  position: relative;
  background-color: #E9DCC5;
  height: 45vh;
}

#part2 #garantie1, #part2 #garantie2 {
  font-family: "Muli", sans-serif;
  font-size: 2.7em;
}

#part2 #garantie1 {
  position: absolute;
  left: 3%;
  top: 17%;
  padding: 1% 5%;
  background-color: #A20373;
  font-family: "Muli", sans-serif;
}

#part2 #garantie2 {
  position: absolute;
  left: 11%;
  top: 47%;
  padding: 1% 7%;
  background-color: #A20373;
  font-family: "Muli", sans-serif;
}

#part2 #catpart {
  position: absolute;
  right: 9%;
  top: 7%;
}
/*# sourceMappingURL=style.css.map */